COMPOSE_PROJECT_NAME=topups

PORT=50050

PG_HOST=localhost
PG_DB=slices
PG_USER=postgres
PG_PASSWORD=123456
PG_PORT=50051

REDIS_HOST=localhost
REDIS_PORT=50052

CLIENT_ACCOUNT_RATE_LIMIT_LIMIT=60
CLIENT_ACCOUNT_RATE_LIMIT_TTL_MS=60000

PG_SSL_ENABLED=false
JWT_SECRET=dev-secrect
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=1h
JWT_REFRESH_TOKEN_TTL=7d
API_KEY_MODE=test

BOOTSTRAP_ADMIN_EMAIL=admin@topups.com
BOOTSTRAP_ADMIN_PASSWORD=strong-password
