PORT=50050

PG_HOST=localhost
PG_DB=slices
PG_USER=postgres
PG_PASSWORD=123456
PG_PORT=50051

PG_SSL_ENABLED=false
JWT_SECRET=dev-secrect
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=1h
JWT_REFRESH_TOKEN_TTL=7d